
body, html {
    display: block;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 80px;
    position: relative;
}
header{
    font-style: italic;
    text-align: center;
    font-size: 50px;
    position: fixed;
    top:0px;
    z-index: 1;
    background-color: white;
    width: 100%;
    margin-left: -40px;
    height: 80px;
}
footer{
   font-size: 30px; 
    position: fixed;
    bottom: 0%;
    width: 100%;
    margin: 0px;
    background-color: white;
    z-index: 1px;
}
.navbar{
    background-color: darkcyan;
    width:100%;
    position: fixed;
    z-index: 1;
    padding-top:10px;
    padding-left: 10px

}
#dance{
    position: relative;
    font-size: 40px;
    margin-bottom: 60px;
}
form{
    position: relative;
    font-size: 30px;
}
input{
    font-size: 20px;
}
#creation{
    text-align: center;
    font-size: 25px;
}
#error{
    color: red;
    position:fixed;
    top:130px;
    left:500px;
}
.navbar-nav > .active > a {
    background-color: red;
}
.active {
    color: red;
    background-color: red;
}
.navbar-fixed-top{
    top:80px;
}
a{
    color: black;
}
ul{

}